<div class="card m-1" style="width: 18rem;">
    <img [src]="instructor.face_photo" class="card-img-top" [alt]="instructor.nombre">
    <div class="card-body">
        <h5 class="card-title">{{ instructor.nombre }}</h5>
        <div class="card-text" *ngIf="instructor.interests">
            <h4>Intereses</h4>
            <ul>
                <li>
                    {{ instructor.interests.philosophy }}
                </li>
                <li>
                    {{ instructor.interests.fitness }}
                </li>
                <li>
                    {{ instructor.interests.music }}
                </li>
                <li>
                    {{ instructor.interests.activities }}
                </li>
                <li>
                    {{ instructor.interests.surprise }}
                </li>
                <li>
                    {{ instructor.interests.inspiration }}
                </li>
            </ul>
        </div>
        <!-- <a href="#" class="btn btn-primary">Ver mas..</a> -->
    </div>
</div>