<div class="container-pagination">
    <nav aria-label="Page navigation example" class="my-3 mx-auto d-flex flex-wrap justify-content-center">
        <ul class="pagination flex-wrap">
            <li class="page-item">
                <span class="page-link" (click)="onPrev()">
                Anterior
            </span>
            </li>
            <li class="page-item" *ngFor="let in of arrNumberPages ;let i = index" [ngClass]="{'active': (i+1) === currentPage }">
                <span class="page-link" (click)="onSelectPage((i+1))">
                {{ i+1 }}
            </span>
            </li>
            <span class="page-item">
            <span class="page-link" (click)="onNext()">
                Siguiente
            </span>
            </span>
        </ul>
    </nav>
</div>