<section>
    <div class="content">
        <div class="card-flow">
            <app-instructor-card [instructor]="instructor" *ngFor="let instructor of instructors"></app-instructor-card>
        </div>
        <app-pagination></app-pagination>
    </div>
</section>