.content
    display: flex
    flex-direction: column
    justify-content: space-around
    padding: 10px


.card-flow 
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around