<div>

    <div class="flex-row">

        <div class="column-2 w-col w-col-5">

            <p class="paragraph">
                <strong class="bold-text">La bisi es el camino a todos los estudios.</strong></p>

        </div>

        <div class="w-col w-col-7">
            <img src="../../../assets/images/U54RBWHX1Y.jpeg" loading="lazy" alt="">
        </div>

    </div>

    <div class="w-container">

        <div class="w-row">

            <div class="w-col w-col-4"></div>

            <div class="w-Col WITH-col-4 "><img src="../../../assets/images/SOGRNTON3A-1.jpeg" loading="lazy" alt=" "></div>

            <div class="w-col w-col-4 "></div>

        </div>

        <div></div>

        <div class=“w-row ">

                <div class="w-col w-col-6 "><img src="../../../assets/images/2vPamixr4r.jpeg " loading="lazy "alt=" "></div>

                <div class="w-col v-col-6 ">

                    <p class="paragraph-2 ">No pedalees solo: clases en vivo y on demand con instructores de todo el mundo. </p>

                </div>

            </div>

        </div>