.hero
    display: block
    padding-top: 100px 
    -webkit-box-align: center 
    -mS-flex-align: center
    padding-bottom: 100px
    -webkit-align-items: center
    align-items: center

.flex-container
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    flex-direction: row
    -webkit-box-align: center 
    -webkit-align-Items: center
    -ms-flex-align: center 
    align-items: center
    -webkit-box-flex: 1
    -webkit-flex: 1
    -ms-flex: 1
    flex: 1

.hero-image-mask
    width: 100
    margin-left: 40px
    // background-image: url('../images/Image6.Jpg')
    background-position: 0px 0px
    background-size auto

.hero-image
    width: 100
    height: 100
    -webkit-box-flex: 0
    -webkit-flex: 0 0.5 auto
    -ms-flex: 0 0.5 auto
    flex: 0 0.5 auto
    border-radius: 20px
    box-shadow: inset 0 0 1px -7px transparent
    opacity: 1
    -webkit-filter: blur(0px)
    filter: blur (0px) 
    cursor: -webkit-grab
    cursor: grab
    object-fit: cover
    object-position: 50% 50%

.column 
    display: -webkit-box
    display: -webkit-flex
    display: -webkit-Flex
    display: -ms-flexbox
    display: flex

.paragraph 
    margin-left: 174px
    font-family: Montserrat, sans-serif
    color: #fff
    font-size: 35px
    line-height: 37px
    font-style: normalX

.bold-text 
    position: relative
    left: auto
    top: 0
    right: 03
    bottom: auto
    margin-right: 6px
    margin-left: Opx
    padding-right: Opx
    font-family: Montserrat, sans-serif
    font-size: 28px

.column-2
    margin-top: 276px
    padding-top: 0px
    font-family Montserrat, sans-serif

.paragraph-2 
    margin-top: 95px
    font-family: Montserrat, sans-serif
    color: #fff
    font-size: 36px
    line-height: 35px
    font-weight: 500
    text-align: justify

@media screen and (max-width 991px) 

    .container-2
        display: block
        margin-top: 23px
        margin-bottom: 23px
        padding-left: 175 px
        -webkit-box-orient: vertical
        -webkit-box-directions: normal
        -webkit-flex-direction: column
        -ms-flex-direction: column
        flex-direction: column
        -webkit-box-align: start
        -webkit-align-items: flex-start
        -ns-flex-align: start
        align-items: flex-start 
        grid-auto-columns: 1fr
        -ms-grid-columns: 1fr 1fr
        grid-template-columns: 1fr itr 
        -ms-grid-rows: auto auto 
        grid-template-rows: auto auto


@media screen and (max-width: 767px) 

    .hero
        padding: 40px 20px  
    .flex-container 
        -webkit-box-orient: vertical
        -webkit-box-direction: normal 
        -webkit-flex-direction column 
        -ms-flex-direction: column 
        flex-direction: column
    .hero-image-mask 
        margin-right: 0px
        margin-left: 0px
        -webkit-box-ordinal-group: 0
        -webkit-orders: -1
        -ms-flex-orders: -1
        order: -1

@modia screen and (max-width 479px) 

    .contenedor 
        margin-top: 25px
        margin-left: -1px
        padding-right: 20px
        padding-left: 39px
        color: #e61414
    .container 
        padding-right: 11px
        padding-left: 0px 
        color: #484848
    .hero-image 
        background-image: -webkit-gradient (linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to (Reba (0, 0, 0, 0.5)))
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
        background-clip: padding-box