.footer
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #fff
ul 
    margin: auto

ul li
    display: inline
    padding: 5px
ul li a, a:active, a:hover
    color: #000
    text-decoration: none
    font-weight: 700
.legal
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-items: stretch
.legal div
    padding: 5px
    border-top-style: solid
    border-top-color: #eeeeee
    border-top-width: 1px
    margin: 0 5px
.format-text-lower
    font-size: .4rem
    color: rgba(0,0,0,.5)
    text-decoration: none
.legal div a, a:active, a:hover, .legal
    color: rgba(0,0,0,.5)