<footer class="footer">
    <ul>
        <li><a href="https://siclo.plus/#/">Síclo+</a></li>
        <li>
            <a href="https://www.instagram.com/sicloplus/"> <img src="../../../assets/icons/instagram.svg" alt="instagram" width="16px"> </a>
        </li>
    </ul>
    <ul>
        <li><a href="https://siclo.com/">Síclo</a></li>
        <li><a href="https://blog.siclo.plus/">Blog</a></li>
        <li><a href="https://siclo.plus/#/enterprise">Ventas Corporativa</a></li>
    </ul>
    <div class="legal format-text-lower">
        <div>
            <a href="https://siclo.plus/#/privacy">Aviso de Privacidad</a>
        </div>
        <div>
            <a href="https://siclo.plus/#/policies">Términos y Condiciones</a>
        </div>
    </div>
    <p class="format-text-lower">
        ©2020 Síclo
    </p>
</footer>